// ----- COLORS -----
$blue: #374464;
$blue_secondary: #3e4c6f;
$gold: #c37e15;
$primary_background: $blue;
$headline_color: $gold;
$hover: $gold;
$active_link: $gold;
$copy_color: $blue_secondary;
$alt_copy_color: #fff;

// ----- FONTS -----
$garamond: 'EB Garamond', serif;
$nunito: 'Nunito', sans-serif;
$primary_font: $garamond;
$secondary_font: $nunito;


// ----- GRID -----
$max-width: 2600px; //true 1650px content column when accounting for container and column padding
$grid-columns: 12;
$column-width: ((1/$grid-columns)*100%);
$gutter-width: 20px;
$gutter-width-sm: 20px;
$gutter-width-med: 24px;
$gutter-width-lg: 30px;
$gutter-width-xl: 40px;

    //breakpoints
    $breakpoint1prefix: sm;
    $breakpoint2prefix: med;
    $breakpoint3prefix: lg;
    $breakpoint4prefix: xl;

    //values
    $sm: 481px;
    $med: 768px;
    $lg: 1024px;
    $xl: 1650px;

    //breakpoint names and values as a sass 'array'
    $breakpoints: $breakpoint1prefix $sm, $breakpoint2prefix $med, $breakpoint3prefix $lg, $breakpoint4prefix $xl;

// ---- General Layout ----

$page_padding_bottom: 75px;
$scrollspeed: 0.7s;