.page_nav {
    margin: 35px 0 85px 0;
}

.background_photos {
    padding-bottom: 85%;
    background-repeat: no-repeat;
    position: relative;

    h3 {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    @include breakpoint(med) {
        padding-bottom: 32%;
    }
}

.value_photo {
    @extend .background_photos;
    &.first {
        background-image:url(/assets/images/value-photo1.jpg);
    }
    &.second {
        display: none;
        background-image:url(/assets/images/value-photo1.jpg);


        @include breakpoint(med) {
            display: inline-block;
        }
    }
}

.discription_copy {
    @include font-size(16px);
    line-height: 21px;
    margin: 25px 0;

    @include breakpoint(med) {
        line-height: 25px;
        max-width: 800px;
        margin: 25px auto;
        text-align: center;
        display: block;
    }
}

