html {
    font-size: 62.5%;
    overflow: visible;
}

body {
    @include font-size(14px);
    background-color: #fff;
    min-width: 320px;
    font-family: $primary_font;
    color: $copy_color;
    letter-spacing: 1px;
}

//helper classes
.mobile_only {
    @include breakpoint(med) {
        display: none;
    }
}

.no_mobile {
    display: none;
    @include breakpoint(sm) {
        display: initial;
    }
}

.no_break {
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

//lazy load fade in animations
div [data-bg]{opacity:0}
.lazy-hidden{
    @include transition(opacity .3s);
    opacity:1;
}

//typography
h1, h2, h3, h4, h5, h6, p, li, span, dl, dt, dd {
    color: $copy_color;
}

h1 {
    font-family: $secondary_font;
    font-weight: normal;
    color: $headline_color;
    @include font-size(40px);

    @include breakpoint(med) {
        @include font-size(50px);
    }
}

p {
    font-family: $primary_font;
    @include font-size(16px);
    line-height: 35px;
}

li {
    font-family: $primary_font;
    @include font-size(16px);
    line-height: 35px;
    padding-bottom: 10px;
}

.heavy {
    font-family: $secondary_font;
    font-weight: 500;
}

//iconography
.icon_x_close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    z-index: 1000;

    &:before, &:after {
        position: absolute;
        content: "";
        width: 26px;
        height: 3px;
        background-color: #fff;
        top: 15px;
        left: 5px;
    }

    &:before {
        @include transform(rotate(-315deg));
    }

    &:after {
        @include transform(rotate(315deg));
    }

    @include breakpoint(med) {
        display: none;
    }

}

#logo {
    background-image:url(/assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    text-indent: -9999px;
    background-size: 100%;
    float: left;
    height: 49px;
    width: 130px;
    margin: 18px 0;
    display: none;
    @include transition(all .2s ease-in-out);

    @include breakpoint(med) {
        display: block;
    }

    @include breakpoint(lg) {
        height: 73px;
        width: 191px;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

//navigation
nav {
    li {
        display: inline-block;
        line-height: 16px;
        padding: 0;
        margin: 0;
    }

    a {
        @extend .heavy;
        @include font-size(14px);
        color: $copy_color;
        text-transform: uppercase;
        padding-right: 35px;
        text-decoration: none;
        letter-spacing: 2px;

        &:hover {
            color: $hover;
        }
    }
}

.home_page {
    .home a {
        color: $active_link;
    }
}

.associates_lp {
    .associates a {
        color: $active_link;
    }
}

.practices_lp {
    .practices a {
        color: $active_link;
    }
}

.about_lp {
    .about a {
        color: $active_link;
    }
}

.contact_lp {
    .contact a {
        color: $active_link;
    }
}

header {
    background-color: $primary_background;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .mobile_nav_button {
        display: block;
        width: 100%;
        text-align: center;
        @include font-size(18px);
        @extend .heavy;
        color: $alt_copy_color;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;

        &:before {
            content: '';
            @include gavel;
            background-size: 15px;
            width: 15px;
            height: 26px;
            display: inline-block;
            position: absolute;
            left: 0;
        }
    }

    nav {
        height: 0;
        opacity: 0;
        visibility: hidden;
        @include transition(none);
        @include transform(scale(.98));
        ul {
            text-align: center;
            li {
                display: block;
                width: 100%;
                a {
                    color: $alt_copy_color;
                    padding-right: 0;
                    display: block;
                    line-height: 40px;
                }
            }
        }

        &.active {
            height: auto;
            opacity: 1;
            visibility: visible;
            margin-top: 12px;
            @include transform(scale(1));
            @include transition(all .3s ease-in-out);
        }
    }

    @include breakpoint(med) {
        background-color: #fff;
        padding:0;
        position: absolute;

        .mobile_nav_button {
            display: none;
        }

        nav {
            opacity: 1;
            visibility: visible;
            clear: none;
            float: left;
            padding-left: 55px;
            padding-top: 41px;

            ul {
                text-align: left;
                li {
                    display: inline-block;
                    width: auto;

                    a {
                        padding-right: 20px;
                        color: $copy_color;
                    }
                }
            }
        }
    }

    @include breakpoint(lg) {
        nav ul li a {
            padding-right: 35px;
        }
    }
}

#content {
    margin-top: 54px;

    @include breakpoint(med) {
        margin-top: 110px;
    }
}

.content_slot {

    &.dark_background{
        background-color: $primary_background;
        
        h3 {
            @extend .heavy;
            margin-bottom: 20px;
        }

        h4 {
            color: $headline_color;
            @include font-size(34px);
            font-weight: normal;
            position: relative;
            margin: 0 0 45px 0;
            &:after {
                content: "";
                display: block;
                width: 70%;
                height: 2px;
                background: #fff;
                position: absolute;
                left: 0;
                bottom: -23px;
            }
        }

        h3, p, a{
            color: $alt_copy_color;
        } 
    }
}

.inner_slot_content {
    padding: 50px 0 0 0;
    @include breakpoint(med) {
        max-width: 90%;
        padding: 50px 0;
    }
}

footer {
    background-color: $primary_background;
    
    nav {
        display: none;
        margin-bottom: 21px;

        a {
            color: $alt_copy_color;
        }

        @include breakpoint(med) {
            display: block;
        }
    }

    .footer_links {
        position: relative;
        margin: 50px 0;

        .copyright {
            text-align: center;
            color: $alt_copy_color;
            @include font-size(12px);
            @extend .heavy;
            text-transform: uppercase;
            line-height: 16px;
            padding: 0;
            margin: 0;
            span {
                padding-left: 15px;
                color: inherit;
                display: block;
            }
        }

        @include breakpoint(med) {
            padding-left: 75px;

            .copyright {
                text-align: left;

                span {
                    display: inline;
                }
            }

            &:before {
                content: '';
                @include gavel;
                position: absolute;
                left: 0;
                top: -16px;
                width: 39px;
                height: 71px;
            }
        }
    }
}

//link styles

a {
    @include transition(color .3s ease-in-out);
    color: $copy_color;

    &.link{
        text-transform: uppercase;
        text-decoration: underline;
        @extend .heavy;
        @include font-size(14px);

        &:hover {
            color: $hover;
        }
    }

    &:hover {
        color: $hover;
    }
}