.home_page {
    #logo {
        background-position: 0 0;
    }
    @include breakpoint(med) {
        header {
            background: transparent;

            nav {
                li {
                    a {
                        color: $alt_copy_color;

                        &:hover {
                            color: $hover;
                        }
                    }
                }
            }
        }

        #content {
            margin-top: 0;
        }
    }
}

.home_page {

    .hero {
        background-image:url(/assets/images/home-hero.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: 50% 0;
        position: relative;
        padding-bottom: 72%;

        @include breakpoint(med) {
            padding-bottom: 36.5%;
            background-size: 100%;
            background-position: 0 0;
        }
    }

    .hero_copy {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 25%;

        h2 {
            @include font-size(36px);
            color: $alt_copy_color;
            text-transform: capitalize;
            letter-spacing: 2px;
            width: 100%;
            text-align: center;
            font-weight: normal;
            margin: 0;
        }

        .link {
            width: 100%;
            display: block;
            text-align: center;
            color: $alt_copy_color;
            margin-top: 5px;
            @include font-size(12px);
        }

        @media screen and (min-width: 570px) {
            bottom: 35%;
        }

        @include breakpoint(med) {
            bottom: 25%;
            h2 {
                @include font-size(55px);
            }

            .link {
                @include font-size(14px);
            }
        }
    }

    .major_underline {
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 80%;
            bottom: -28px;
            left: 10%;
            background-color: white;
        }

        &.dark_underline:after {
            background-color: $dark_background;
        }
    }

    .statement_copy {
        padding: 40px 0;
        text-align: center;
        h1 {
            @include font-size(35px);
            color: $alt_headline_clolor;
            @extend .major_underline;
            line-height: 49px;
        }

        p {
            @include font-size(22px);
            margin-top: 51px;
            text-transform: uppercase;
        }

        @include breakpoint(sm) {
            width: 540px;
            margin: 40px auto;
        }

        @include breakpoint(med) {
            margin: 20px auto;
            h1 {
                @include font-size(44px);
            }
        }
    }

    .practices {
        h1 {
            margin-top: 0;
            span {
                display: block;
                color: inherit;
                text-transform: uppercase;
                @include font-size(20px);
            }

            &:after {
                content: none;
            }
        }

        .practices_link {
            width: 50%;
            position: relative;
            display: block;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 200px;
                background-image:url(/assets/images/practices-sprite.png);
                background-size: 200px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .secondary_statement_copy {
        text-align: center;
        padding: 40px 20px;
        overflow: hidden;

        h1 {
            @include font-size(33px);
            @extend .major_underline;

            &:after {
                background-color: $dark_background;
                height: 1px;
            }
        }

        h2 {
            margin-top: 40px;
            text-transform: uppercase;
            @include font-size(22px);
            font-weight: 300;
            letter-spacing: 3px;

        }

        a {
            margin-top: 35px;
            display: block;
        }

        @include breakpoint(med) {
            margin: 20px auto;

            h1 {
                @include font-size(45px);
                line-height: 44px;
            }

            h2 {
                @include font-size(29px);
                width: 78%;
                margin: 53px 11%;
            }
        }
    }

    .latest_blog a {
        text-decoration: none;
    }

    .slot_image_container {
        position: relative;
        overflow: hidden;
    }

    .slot_image {
        display: none;
        background-image:url(/assets/images/slot-image-temp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        right: 0;
        top: 0;

        @include breakpoint(lg) {
            display: inline-block;
            padding-bottom: 53%;
        }

        @include breakpoint(xl) {
            display: inline-block;
            padding-bottom: 35%;
            background-position: top center;
        }
    }
}