body.practices_lp {
    background-color: $light_background;
}

.practices_lp {

    .discription_copy {
        @include font-size(16px);
        line-height: 21px;
        margin: 35px 0 100px 0;

        h1 {
            margin-top: 0;
            border-bottom: 1px solid;
            line-height: 46px;
            font-weight: normal;
        }

        @include breakpoint(med) {
            line-height: 25px;
            margin: 35px 0 100px 0;
            padding: 0;
            max-width: 900px;
            text-align: left;
            display: block;
        }

        ul {
            @extend .list_style
        }
    }

    @include breakpoint(med) {
        .page_nav {
            margin: 35px 0 40px 0;
        }
    }
}

