extends layout

block beforeBody
  - bodyClasses.push('about_lp')

block content
    section
        div.container
            div.grid
                div.column.size12of12
                    h1 About Us
                    h2 Roth and Associates is a premier civil litigation law firm that offers their clients a full range of legal services.

                    nav.page_nav
                        div.page_nav_container
                            ul
                                li 
                                    a(href="#values") Values
                                li 
                                    a(href="#comunity") Community
                                li 
                                    a(href="#culture") Culture

                article#values
                    div.column.size12of12.med_size6of12.value_photo.first
                        h3 Values
                    div.column.size12of12.med_size6of12.value_photo.second
                    div.column.size12of12.discription_copy 
                        include:markdown /about/values.md

                article#comunity
                    div.column.size12of12.med_size6of12.value_photo.first
                        h3 Community
                    div.column.size12of12.med_size6of12.value_photo.second
                    div.column.size12of12.discription_copy 
                        include:markdown /about/community.md

                article#culture
                    div.column.size12of12.med_size6of12.value_photo.first
                        h3 Culture
                    div.column.size12of12.med_size6of12.value_photo.second
                    div.column.size12of12.discription_copy 
                        include:markdown /about/culture.md

                        a(href="/contact").link Contact us today
        


