extends layout

block beforeBody
  - bodyClasses.push('about_lp')

block content
    section
        div.container
            div.grid
                div.column.size12of12
                    h1 About Us
                    h2 Roth and Associates is a premier civil litigation law firm that offers their clients a full range of legal services.

                article#values
                    div.column.size12of12.value_photo
                        h3 Values
                        img(src="/assets/images/values.jpg")
                    div.column.size12of12.discription_copy 
                        include:markdown /about/values.md

                article#community
                    div.column.size12of12.value_photo
                        h3 Community
                        img(src="/assets/images/community.jpg")
                        img(src="/assets/images/community2.jpg").second
                    div.column.size12of12.discription_copy 
                        include:markdown /about/community.md

                article#culture
                    div.column.size12of12.value_photo
                        h3 Culture
                        img(src="/assets/images/culture.jpg")
                        img(src="/assets/images/culture2.jpg").second
                    div.column.size12of12.discription_copy 
                        include:markdown /about/culture.md

                        a(href="/contact").link Contact us today
        


