extends layout

block beforeBody
  - bodyClasses.push('about_lp')

block content
    section
        div.container
            div.grid
                div.column.size12of12
                    h1 About Us
                    h2 Roth &amp; Associates is a premier civil litigation law firm that offers their clients a full range of legal services.
                    nav.page_nav
                        ul
                            li 
                                a(href="#values") Values
                            li 
                                a(href="#comunity") Community
                            li 
                                a(href="#culture") Culture

                article
                    div.column.size12of12.med_size6of12.value_photo.first
                        h3 Values
                    div.column.size12of12.med_size6of12.value_photo.second
                    div.column.size12of12.discription_copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci quam, sagittis nec ante ut, rhoncus viverra est. Quisque feugiat aliquet orci, vitae faucibus erat convallis non. Phasellus lacinia justo sit amet ligula volutpat, a convallis quam aliquet. Sed libero leo, rutrum a lorem eu, viverra luctus mi. In non varius lorem. Curabitur mollis sodales lorem id fringilla. Vivamus id nisi id augue sagittis tristique vitae et erat. Praesent commodo ipsum eget libero placerat, sed viverra massa pulvinar. 



