extends layout

block beforeBody
  - bodyClasses.push('contact_lp nav_dark')

block content
    section
        h1 contact
        form(id="contact-form" action="//formspree.io/burke.cf@gmail.com" method="post")
            input(type="text" name="Name" placeholder="Name" required)
            input(type="email" name="Email" placeholder="Email" required)
            textarea(name="Message" cols="30" rows="6" placeholder="Message" required)
            <!-- CONFIG -->
            input(class="is-hidden" type="text" name="_gotcha")
            input(type="hidden" name="_subject" value="Subject")
            <!-- /CONFIG -->
            input(class="submit" type="submit" value="Send")