footer
    section.offices
        article.houston.office_location
            h1 Houston Office
            ul 
                li <span class="address"> 440 Louisiana Street</span>
                li Suite 1900
                li Houston, Texas 77002
                li T  713 654 2143
                li F  713 654 2146
        article.seattle.office_location
            h1 Seattle Office
            ul
                li <span class="address"> 119 First Avenue South</span>
                li Suite 500
                li Seattle, Washington 98104
                li T  713 654 2143
                li F  713 654 2146
    div.container
        div.grid
            div.column.size12of12.footer_content
              div.footer_links
                include navigation.jade
                p.copyright &copy; #{ new Date().getFullYear() } #{ locals.owner }
                  span All rights reserved