nav
    ul
        li.home.mobile_only
            a(href="/") home
        li.practices
            a(href="/practices") practice <span class="hide">areas</span>
        li.associates
            a(href="/associates") associates
        li.about
            a(href="/about") about
        li.news
            a(href="http://news.rothpractice.com/") news
        li.contact
            a(href="/contact") contact