nav
    ul
        li.portfolio
            a(href="/practices") practices
        li.purpose
            a(href="/associates") associates
        li.people
            a(href="/about") about
        li.play
            a(href="http://news.rothpractice.com/") news
        li.contact
            a(href="/contact") contact