extends layout

block beforeBody
  - bodyClasses.push('practices_lp')

block content
    section
        div.container
            div.grid
                div.column.size12of12
                    h1 Practice Areas
                    h2 Roth and Associates is a premier civil litigation law firm that offers clients a full range of legal services.

                article#motor_accident
                    div.column.size12of12.discription_copy 
                        include:markdown /practices/motor_accident.md

                article#medical_malpractice
                    div.column.size12of12.discription_copy 
                        include:markdown /practices/medical_malpractice.md

                article#product_liability
                    div.column.size12of12.discription_copy 
                        include:markdown /practices/product_liability.md

                article#premises_liability
                    div.column.size12of12.discription_copy 
                        include:markdown /practices/premises_liability.md

                        a(href="/contact").link Contact us today